@use "../variables/colors";

header {
    background-image: url('../img/bg-pattern.png'), linear-gradient(to right, colors.$red, colors.$lilac);
    height: 120vh;
}

#download,
#contact {
    background-color: colors.$yellow;
}

.stop {
    background-image: url('../img/bg-cta.jpg');
    background-position: center;
    color: colors.$white;
    filter: brightness(50%);
    height: 100vh;
    text-align: left;

    @media only screen and (min-width:992px) {
        height: 75vh;
    }
}