@use "../variables/colors";
@use '../mixins/mixins';

/* Features */
i {
    color: colors.$icon-color;
    opacity: 0.9;

    &:hover {
        opacity: 1;
    }
}

/* Contact */
.heart {
    color: colors.$red;
    font-size: 2.5rem;
}

.fa-facebook {
    @include mixins.socialIcon(colors.$facebook, 1rem 1.5rem);
}

.fa-twitter {
    @include mixins.socialIcon(colors.$twitter, 1rem);
}

.fa-google {
    @include mixins.socialIcon(colors.$google, 1rem);
}