@use "../variables/colors";

.nav {
    display: flex;
    font-family: catamaran, Arial, Helvetica, sans-serif;

    &__container {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        width: 100%;

        @media screen and (min-width: 992px) {
            width: 80%;
        }
    }

    &__list {
        display: none;
        flex-direction: column;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        text-transform: uppercase;
        width: 100%;

        @media screen and (min-width: 992px) {
            display: flex;
            flex-direction: row;
            margin-right: 1rem;
            width: auto;
        }
    }

    &__item {
        text-align: center;
    }

    &__link {
        color: colors.$light-gray;
        display: block;
        font-size: 1rem;
        line-height: 1rem;
        padding: 1rem;
        text-decoration: none;

        &:hover {
            color: colors.$white;

        }
    }

    &__hamburger {
        &-checkbox {
            display: none;

            &:checked+.nav__list {
                display: flex;
            }
        }

        &-label {
            background-color: colors.$white;
            border: 1px solid colors.$footer-color;
            border-radius: 3px;
            cursor: pointer;
            display: block;
            padding: 1rem;

            @media screen and (min-width: 992px) {
                display: none;
            }
        }
    }
}