$gradient-left: #dd2533;
$gradient-right: #7b4497;
$background: #fdcc52;
$hover-color: #ffffff;
$icon-color: #800080;
$menu-link: #d8d8d8;
$twitter: #1da1f3;
$facebook: #3b5999;
$google: #dd4c39;
$footer-color: #808080;
$footer-background: #000000;
