$red: #dd2533;
$lilac: #7b4497;
$yellow: #fdcc52;
$white: #ffffff;
$icon-color: #800080;
$light-gray: #d8d8d8;
$twitter: #1da1f3;
$facebook: #3b5999;
$google: #dd4c39;
$footer-color: #808080;
$footer-background: #272727;
$modalButton: #56e456;
$black: #000000;
